.register {
  height: 100vh;
  background-color: rgb(198, 36, 120);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    border-radius: 10px;
    display: flex;
    background-color: white;
    min-height: 600px;
    overflow: hidden;

    .right {
      flex: 1;
      background: linear-gradient(
          rgba(192, 24, 124, 0.5),
          rgba(198, 47, 193, 0.766)
        ),
        url('/images/registerbg.jpg') center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 80px;
        line-height: 100px;
        text-align: center;
      }
      p {
        font-size: 14px;
        text-align: justify;
      }
      span {
        font-size: 16px;
      }
      button {
        width: 50%;
        background-color: white;
        color: rgb(198, 36, 120);
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        border: none;
      }
    }
    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      h1 {
        color: #777;
        display: flex;
        align-items: center;
        gap: 10px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 30px;

        input {
          border: none;
          height: 40px;
          outline: none;
          border-bottom: 1px solid #777;
        }
        button {
          background-color: rgb(198, 36, 120);
          color: white;
          font-weight: bold;
          border: none;
          cursor: pointer;
          width: 50%;
          padding: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}
