@import '../../darkTheme.scss';

.rightbar {
  @include themify($themes) {
    flex: 3;
    color: themed('textcolor');
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: themed('bgsoft');
    overflow: scroll;
    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .container {
      padding: 10px;

      .item {
        padding: 15px;
        -webkit-box-shadow: -1px 4px 15px 6px #acacac39;
        box-shadow: -1px 4px 15px 6px #acacac22;
        margin: 20px;
        background-color: themed('bg');
        span {
          color: themed('textcolorlight');
          font-size: 14px;
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 15px 0px;
          position: relative;
          .userInfo {
            display: flex;
            align-items: center;
            gap: 15px;
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              object-fit: cover;
            }
            .online {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: limegreen;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 0px;
              left: 27px;
            }
            span {
              color: themed('textcolor');
              font-weight: 500;
            }
            p {
              color: themed('textcolorlight');
              font-size: 10px;

              span {
                color: themed('textcolor');
              }
            }
          }
          span {
            color: themed('textcolor');
            font-size: 12px;
            font-weight: normal;
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
              width: 50%;
              color: white;
              cursor: pointer;
              font-weight: 500;
              padding: 5px;
              border: none;
              &:first-child {
                background-color: #5271ff;
              }
              &:last-child {
                background-color: rgb(184, 28, 28);
              }
            }
          }
        }
      }
    }
  }
}
